input {font-family: 'ArcadeClassic', sans-serif;
}
button {font-family: 'ArcadeClassic', sans-serif;
}
p {font-family: 'ArcadeClassic', sans-serif;
}
p.screenUsername {
    background-color: #171819;
    width:fit-content;
    height:fit-content;
}
.usernameOutput {
    font-family: 'ArcadeClassic', sans-serif;
}

 .gameButtons {background-color: rgb(255, 255, 255);
    padding-top: 8em;
    display: flex;
    justify-content: center;
    
 }
 .usernameOutput {background-color: rgb(255, 255, 255);
    padding-top: 2em;
    display: flex;
    justify-content: center;
 }

/*typwriter experimental*/

    .typed-out {  
   padding-top: 0em;
    display: flex;  
    position: relative; margin-top: 50px;
    justify-content: center;

    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    animation: 
    typing 1s steps(20, end) forwards;
    font-size: 3rem;
    font-family: 'ArcadeClassic', sans-serif;
    width: 0;
    }
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

/*single player screen info*/

    .singlePlayerButton {
        display: none;
    }
    .multiPlayerButton {
        display: none;
    }
   
    /* Darkmode styling */

    html, body {
        border-color: #696257;
        color: #cdcbc8;
        background-color: #1b1d1d;
    }
    .gameButtons {
        background-color: #1b1d1d;
    }
    
    .usernameOutput {
        background-color: #1b1d1d;
    } 
    html {
        color-scheme: dark !important;
    }

    .titleScreen {
        background-color: #1b1d1d;
    }


    /* single player screen formatting */

    body.singlePlayerScreen {

            text-align: center;
    }


.paddleOne {
    height: 200px;
    width: 20px;
    position: fixed;
    
    background-color: #ffffff;
}

body {
    margin: 0%;
}